PORT = your port number
HOST = your host ip
DB_URL = mongoDB url for DB connection
SECRET_KEY = your secret key for jwt
SECRET_ACCESS_KEY = your aws secret key
ACCESS_ID = your aws access ACCESS_ID
REGION = aws region
EMAIL = verified admin email for ses  